@model ProOnePal.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
<div class="col-md-4">
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

    </dl>
    
</div>
<div class="col-md-4">
    <img src="@Url.Content(Model.imgPath)" style="height:300px; width:250px; border-radius:50px;" />
</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
